body,
html {
    cursor: none;
    margin: 0;
    padding: 0;
    background-color: #161516;
}

/* FONTS */
@font-face {
    font-family: proDisplay;
    src: url(font/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: proDisplayLight;
    src: url(font/SF-Pro-Display-Light.ttf);
}

/* HAMBURGER */
.left-hamburger {
    height: 2vmin;
    width: 5vmin;
    position: absolute;
    z-index: 10000;
}

.hamburger::before {
    content: '';
    position: absolute;
    width: 2vmin;
    height: 0.5vmin;
    background: #ae9556;
    transition: all .4s ease-in-out;
}

.hamburger::after {
    transform: translateY(1vmin);
    content: '';
    position: absolute;
    width: 4vmin;
    height: 0.5vmin;
    background: #ae9556;
    transition: all .4s ease-in-out;
    transform: translateY(1vmin);
}

.left-hamburger.open .hamburger::after {
    transform: translateY(1vmin);
}

.left-hamburger.open2 .hamburger::after {
    transform: rotate(45deg);
}

.left-hamburger.open .hamburger::before {
    transform: translateY(1vmin);
    width: 4vmin;
}

.left-hamburger.open2 .hamburger::before {
    transform: rotate(-45deg);
}

.left-hamburger.close .hamburger::after {
    transform: rotate(0deg);
}

.left-hamburger.close .hamburger::before {
    transform: rotate(0deg);
}

.left-hamburger.close2 .hamburger::after {
    transform: translateY(1vmin);
}

.left-hamburger.close2 .hamburger::before {
    transform: translateY(0vmin);
}

.middle-logo h1 {
    font-family: proDisplay;
    font-size: 2em;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    background-image: linear-gradient(0deg, #ae9556, #907a46);
    user-select: none;
}

/* DOWN-ARROW BUTTON */
.button {
    position: absolute;
    margin-top: 45vmin;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5;
    border: none;
    background-color: transparent;
    display: inline-block;
    z-index: 1000;
    user-select: none;
}

.button img {
    width: 2.5vmin;
    height: auto;
    animation: fadeInEnter 2s ease-in-out;
    /* pulse 2s infinite; */
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    /* animation-delay: 2s; */
    z-index: 3;
    padding: 10px;
}

@keyframes fadeInEnter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    } */

/* NAV-BAR */    
.nav-bar {
    user-select: none;
    padding-left: 10vmin;
    padding-right: 10vmin;
    padding-top: 8vmin;
}

.nav-bar ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.animated-icons ul li a {
    cursor: none;
    margin-left: 3vmin;
    animation: 3s ease 0s normal forwards 1 fadeInIcons;
    -webkit-animation: 3s ease 0s normal forwards 1 fadeInIcons;
}

.icon {
    width: 2vmin;
}

.animated-icons ul li:hover:before {
    content: '';
    position: absolute;
    margin-left: 3.5vmin;
    bottom: -15px;
    background: rgba(174, 149, 86);
    width: 0.8vmin;
    height: 0.8vmin;
    border-radius: 100%;
}

@keyframes fadeInIcons {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

/* TITLE */
.main-home {
    position: relative;
    min-height: 100vh;
    margin: auto;
}

.animated-title {
    height: 50vmin;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 90vmin;
    transform: translate(-50%, -50%);
}

.animated-title .text-top {
    top: 10%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    user-select: none;
}

.animated-title .text-bottom {
    top: 56%;
    height: 10%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    user-select: none;
}

.animated-title > div div {
    padding: 2vmin 0;
    position: absolute;
}

.animated-title > div div span {
    display: block;
}

.animated-title > div.text-top div {
    animation: showTopText 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}

.closeTopText {
    animation: closeTopText 1s;
    animation-fill-mode: forwards;
    bottom: 0;
}

.animated-title > div.text-top div span {
    width: 90vmin;
    text-align: center;
    font-size: 20vmin;
    font-weight: bold;
    font-family: proDisplay;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    background-image: linear-gradient(0deg, #ae9556, #907a46);
}

.animated-title > div.text-bottom div span {
    width: 90vmin;
    text-align: center;
    font-size: 2.7vmin;
    font-family: proDisplayLight;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    background-image: linear-gradient(0deg, #ae9556, #907a46);
    letter-spacing: 0.6vmin;
    word-spacing: 1vmin;
    font-weight: 100;
}

.animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, 100%);
}

@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

/* CURSOR */
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 10000;
}

.cursor-small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    background: #fff;
    z-index: 10000;
}

.cursor-canvas {
    width: 100vw;
    height: 100vh;
    z-index: 100000;
}

/* MOUSE CLICK EFFECT */
.ripple {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: fixed;
    border-radius: 50%;
    border: 1px solid #ffffff59;
    pointer-events: none;
 }
 
 @keyframes ripple-effect {
    to {
       transform:scale(15);
       opacity: 0.01;
    }
 }

/* ABOUT ME SECTION */
#darken {
    transition: ease-in-out 0.5s;
    background-color:rgba(18, 18, 18, 0);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
  }

::-webkit-scrollbar {
    display: none;
  }

#background-item {
    z-index: 9999;
    height: 540px;
    width: 1067px;
    position: fixed;
    left: 0;
    bottom: 0;
    visibility: hidden;
    text-align: center;
    -webkit-overflow-scroll: touch;
}

#scrolling-container{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;

    height: 540px;
    width: 1067px;
    margin-top: 20px;
    overflow: scroll;
    margin: 0;
    
    transition: ease-in-out 0.5s;
  
    color:rgba(255, 255, 255, 0);
    font-family: proDisplay;
    font-size: 75px;
    letter-spacing: -1.125px;
    line-height: 90px;
  
    text-align: left;
  
    -webkit-mask-image: /*-webkit-gradient(linear, left 30%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
      -webkit-linear-gradient(top, 
       rgba(255, 255, 255, 0) 0%,
       rgba(255, 255, 255, 1) 25%,
       rgba(255, 255, 255, 1) 75%,
       rgba(255, 255, 255, 0) 100%);
}

#scrolling-text{ 
    padding-bottom:80px;
    padding-left: 0px;
}

.sentenceOne {
    transition: ease-in-out 0.3s;  
}

.sentenceTwo {
    transition: ease-in-out 0.3s;
}

.sentenceThree {
    transition: ease-in-out 0.3s;
}

.sentenceFour {
    transition: ease-in-out 0.3s;
}

#scrolling-container ul {
    list-style-type: none;
}

#scrolling-container ul li {
    font-family: proDisplay;
    font-size: 70px;
    letter-spacing: -1.45px;
    line-height: 90px;
    scroll-snap-align: start;
}

#scrolling-container ul li a {
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

/* PROJECTS */
.project-container {
    position: relative;
    min-height: 100vh;
}

.project {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.project-info {
    width: 300px;
    text-align: left;
    color: #ae9556;
    margin: 0 32px;
}

.project-info h2 {
    font-family: proDisplay;
    font-size: 1.4rem;
    margin: 0;
    user-select: none;
}

.project-info p {
    font-family: proDisplayLight;
    font-size: 1rem;
    line-height: 20px;
    margin: 1rem 0 0.5rem;
    text-align: left;
    color: #ae9556;
    user-select: none;
}

@media (max-width: 1280px) {
    .project-image img {
        width: 500px;
        height: 280px;
    }
}

.project-image img {
    display: block;
    width: 800px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 0 32px;
}

.project-btns {
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
}
.project-btn {
    padding: 5px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: none;
    text-decoration: none;
    font-family: proDisplay;
    color: #ae9556;
    width: 100%;
    height: 50%;
    border: 2px solid #ae9556;
    font-size: 1rem;
}

.left {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-25%);
}

.right {
    opacity: 0;
    transition: all 1s;
    transform: translateX(25%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.box {
    position: relative;
    width: 800px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 0 32px;
    border: 1px solid #ae9556;
}

.box p {
    margin: 0;
    padding: 0;
    position: absolute;
    color: #ae9556;
    font-family: proDisplay;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}